header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #FF6F61;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #E55B50;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #E5E5E5;
}